


  <form action="/login" method="post">
   <input  name="username">

   <button>Submit</button>


  </form>
  <% if ("username"){ %>
    <%= username %>
    <form action="/logout" method="post">
    <button> Logout</button>
  <% } %>
