


  <form action="/login" method="post">
   <input  name="username">

   <button>Submit</button>


  </form>
  <% if ("locals.username"){ %>
        <%= locals.username %>
    <form action="/logout" method="post">
    <button> Logout</button>
    </form>
  <% } %>
