<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header.ejs %>
</head>
<body>

  <ul>
     <% for(const key in urls) { %>
    <li>
      <%= key + ": " +urls[key]%></li>
       <form action="/urls/<%= key %>/delete" method="POST">
         <button> Delete</button>
    <% } %>
    </ul>

</body>
</html>