<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
   <%- include partials/_header.ejs %>
<h1> ShortURL <%= shortURL%> </h1>
<form action="/urls/<%=shortURL %>" method="POST">
  <p>
    <input id="long-url-input" name="newLongURL" value="<%= longURL%>">
  </p>

    <button>Update</button>
  </p>
</form>


</body>
</html>